A:link {
	COLOR: #476c8e; TEXT-DECORATION: none
}
A:visited {
	COLOR: #476c8e; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.nav {
	COLOR: #000000; TEXT-DECORATION: none
}
.nav:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.nav:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.nav:hover {
	COLOR: #cc3333; TEXT-DECORATION: underline
}
TABLE {
	empty-cells: show
}
BODY {
	FONT-SIZE: small; COLOR: #000000; FONT-FAMILY: verdana, sans-serif
}
TD {
	FONT-SIZE: small; COLOR: #000000; FONT-FAMILY: verdana, sans-serif
}
TH {
	FONT-SIZE: small; COLOR: #000000; FONT-FAMILY: verdana, sans-serif
}
TR {
	FONT-SIZE: small; COLOR: #000000; FONT-FAMILY: verdana, sans-serif
}
BODY {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 12px; 
}
INPUT {
	COLOR: #000000; FONT-FAMILY: verdana, sans-serif
}
TEXTAREA {
	COLOR: #000000; FONT-FAMILY: verdana, sans-serif
}
BUTTON {
	COLOR: #000000; FONT-FAMILY: verdana, sans-serif
}
INPUT {
	FONT-SIZE: 60%
}
BUTTON {
	FONT-SIZE: 90%
}
TEXTAREA {
	FONT-SIZE: 60%; COLOR: #000000; FONT-FAMILY: verdana, sans-serif
}
INPUT.check {
	
}
SELECT {
	FONT-WEIGHT: normal; FONT-SIZE: 60%; COLOR: #000000; FONT-FAMILY: verdana, sans-serif
}
HR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #666666; HEIGHT: 1px; BACKGROUND-COLOR: #666666; BORDER-RIGHT-WIDTH: 0px
}
.hrcolor {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #666666; HEIGHT: 1px; BACKGROUND-COLOR: #666666; BORDER-RIGHT-WIDTH: 0px
}
A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
BLOCKQUOTE {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 1px; FONT-SIZE: x-small; PADDING-BOTTOM: 1px; MARGIN: 1px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; LINE-HEIGHT: 1.4em; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #d7daec
}
CODE {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000000 1px solid; DISPLAY: block; PADDING-LEFT: 1px; FONT-SIZE: x-small; PADDING-BOTTOM: 1px; MARGIN: 1px auto; OVERFLOW: auto; BORDER-LEFT: #000000 1px solid; WIDTH: 99%; COLOR: #000000; LINE-HEIGHT: 1.3em; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: "courier new", "times new roman", monospace; WHITE-SPACE: pre; BACKGROUND-COLOR: #dddddd; max-height: 24em
}
.quoteheader {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; WIDTH: 100%; COLOR: #000000; LINE-HEIGHT: 1.2em; FONT-STYLE: normal; TEXT-DECORATION: none
}
.codeheader {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; WIDTH: 100%; COLOR: #000000; LINE-HEIGHT: 1.2em; FONT-STYLE: normal; TEXT-DECORATION: none
}
.codeoperation {
	FONT-WEIGHT: normal
}
.help {
	CURSOR: help
}
.meaction {
	COLOR: red
}
.editor {
	WIDTH: 96%
}
.highlight {
	FONT-WEIGHT: bold; COLOR: black; BACKGROUND-COLOR: yellow
}
.highlight2 {
	COLOR: black; BACKGROUND-COLOR: #b3f4b0
}
.windowbg {
	COLOR: #000000; BACKGROUND-COLOR: #ecedf3
}
#preview_body {
	COLOR: #000000; BACKGROUND-COLOR: 
}
.windowbg2 {
	COLOR: #000000; BACKGROUND-COLOR: 
}
.windowbg3 {
	COLOR: #000000; BACKGROUND-COLOR: 
}
.approvebg {
	COLOR: #000000; BACKGROUND-COLOR: 
}
.approvetbg {
	COLOR: #000000; BACKGROUND-COLOR: }
.calendar_today {
	BACKGROUND-COLOR: #ffffff
}
.titlebg {
	PADDING-RIGHT: 10px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(images/titlebg.jpg) #e9f0f6 repeat-x; COLOR: black; BORDER-BOTTOM: #9baebf 1px solid; FONT-STYLE: normal
}
TR.titlebg TH {
	PADDING-RIGHT: 10px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(images/titlebg.jpg) #e9f0f6 repeat-x; COLOR: black; BORDER-BOTTOM: #9baebf 1px solid; FONT-STYLE: normal
}
TR.titlebg TD {
	PADDING-RIGHT: 10px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(images/titlebg.jpg) #e9f0f6 repeat-x; COLOR: black; BORDER-BOTTOM: #9baebf 1px solid; FONT-STYLE: normal
}
.titlebg2 {
	PADDING-RIGHT: 10px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(images/titlebg.jpg) #e9f0f6 repeat-x; COLOR: black; BORDER-BOTTOM: #9baebf 1px solid; FONT-STYLE: normal
}
TR.titlebg2 TH {
	PADDING-RIGHT: 10px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(images/titlebg.jpg) #e9f0f6 repeat-x; COLOR: black; BORDER-BOTTOM: #9baebf 1px solid; FONT-STYLE: normal
}
TR.titlebg2 TD {
	PADDING-RIGHT: 10px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(images/titlebg.jpg) #e9f0f6 repeat-x; COLOR: black; BORDER-BOTTOM: #9baebf 1px solid; FONT-STYLE: normal
}
#credits H3 {
	PADDING-RIGHT: 10px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(images/titlebg.jpg) #e9f0f6 repeat-x; COLOR: black; BORDER-BOTTOM: #9baebf 1px solid; FONT-STYLE: normal
}
.titlebg {
	FONT-WEIGHT: bold; COLOR: black; FONT-STYLE: normal
}
.titlebg A:link {
	FONT-WEIGHT: bold; COLOR: black; FONT-STYLE: normal
}
.titlebg A:visited {
	FONT-WEIGHT: bold; COLOR: black; FONT-STYLE: normal
}
.titlebg A:hover {
	COLOR: #404040
}
.titlebg2 A:link {
	COLOR: black; FONT-STYLE: normal; TEXT-DECORATION: underline
}
.titlebg2 A:visited {
	COLOR: black; FONT-STYLE: normal; TEXT-DECORATION: underline
}
.titlebg2 A:hover {
	TEXT-DECORATION: underline
}
.catbg {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(images/catbg.jpg) #88a6c0 repeat-x; COLOR: #ffffff
}
TR.catbg TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(images/catbg.jpg) #88a6c0 repeat-x; COLOR: #ffffff
}
.catbg3 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(images/catbg.jpg) #88a6c0 repeat-x; COLOR: #ffffff
}
TR.catbg3 TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(images/catbg.jpg) #88a6c0 repeat-x; COLOR: #ffffff
}
.catbg2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(images/catbg2.jpg) #a1bfd9 repeat-x; COLOR: #ffffff
}
TR.catbg2 TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(images/catbg2.jpg) #a1bfd9 repeat-x; COLOR: #ffffff
}
.catbg {
	BORDER-BOTTOM: #375576 1px solid
}
.catbg2 {
	BORDER-BOTTOM: #375576 1px solid
}
.catbg3 {
	BORDER-BOTTOM: #375576 1px solid
}
.catbg {
	FONT-WEIGHT: bold
}
.catbg2 {
	FONT-WEIGHT: bold
}
.catbg3 {
	FONT-SIZE: 65%; COLOR: white; TEXT-DECORATION: none
}
TR.catbg3 TD {
	FONT-SIZE: 65%; COLOR: white; TEXT-DECORATION: none
}
.catbg3 A:link {
	FONT-SIZE: 65%; COLOR: white; TEXT-DECORATION: none
}
.catbg3 A:visited {
	FONT-SIZE: 65%; COLOR: white; TEXT-DECORATION: none
}
.catbg A:link {
	COLOR: white; TEXT-DECORATION: none
}
.catbg A:visited {
	COLOR: white; TEXT-DECORATION: none
}
.catbg2 A:link {
	COLOR: white; TEXT-DECORATION: none
}
.catbg2 A:visited {
	COLOR: white; TEXT-DECORATION: none
}
.catbg A:hover {
	COLOR: #e0e0ff
}
.catbg2 A:hover {
	COLOR: #e0e0ff
}
.catbg3 A:hover {
	COLOR: #e0e0ff
}
.bordercolor {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #adadad
}
.tborder {
	BORDER-RIGHT: #696969 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #696969 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #696969 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #696969 1px solid; BACKGROUND-COLOR: #ffffff
}
.smalltext {
	FONT-SIZE: x-small; FONT-FAMILY: verdana, sans-serif
}
.middletext {
	FONT-SIZE: 60%
}
.normaltext {
	FONT-SIZE: small
}
.largetext {
	FONT-SIZE: large
}
.post {
	OVERFLOW: auto; WIDTH: 100%; LINE-HEIGHT: 1.3em
}
.personalmessage {
	OVERFLOW: auto; WIDTH: 100%; LINE-HEIGHT: 1.3em
}
.signature {
	PADDING-BOTTOM: 3px; OVERFLOW: auto; WIDTH: 100%; LINE-HEIGHT: 1.3em
}
.error {
	COLOR: red
}
.maintab_first {
	VERTICAL-ALIGN: top; TEXT-TRANSFORM: uppercase; COLOR: white
}
.maintab_back {
	VERTICAL-ALIGN: top; TEXT-TRANSFORM: uppercase; COLOR: white
}
.maintab_last {
	VERTICAL-ALIGN: top; TEXT-TRANSFORM: uppercase; COLOR: white
}
.maintab_active_first {
	VERTICAL-ALIGN: top; TEXT-TRANSFORM: uppercase; COLOR: white
}
.maintab_active_back {
	VERTICAL-ALIGN: top; TEXT-TRANSFORM: uppercase; COLOR: white
}
.maintab_active_last {
	VERTICAL-ALIGN: top; TEXT-TRANSFORM: uppercase; COLOR: white
}
.maintab_back {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 5px; PADDING-BOTTOM: 6px; VERTICAL-ALIGN: top; COLOR: white; PADDING-TOP: 2px; FONT-FAMILY: tahoma, sans-serif; TEXT-DECORATION: none
}
.maintab_active_back {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 5px; PADDING-BOTTOM: 6px; VERTICAL-ALIGN: top; COLOR: white; PADDING-TOP: 2px; FONT-FAMILY: tahoma, sans-serif; TEXT-DECORATION: none
}
.maintab_first {
	BACKGROUND: url(images/maintab_first.gif) no-repeat left bottom; WIDTH: 10px
}
.maintab_back {
	BACKGROUND: url(images/maintab_back.gif) repeat-x left bottom
}
.maintab_last {
	BACKGROUND: url(images/maintab_last.gif) no-repeat left bottom; WIDTH: 8px
}
.maintab_active_first {
	BACKGROUND: url(images/maintab_active_first.gif) no-repeat left bottom; WIDTH: 6px
}
.maintab_active_back {
	BACKGROUND: url(images/maintab_active_back.gif) repeat-x left bottom
}
.maintab_active_last {
	BACKGROUND: url(images/maintab_active_last.gif) no-repeat left bottom; WIDTH: 8px
}
.maintab_back A:link {
	COLOR: white; TEXT-DECORATION: none
}
.maintab_back A:visited {
	COLOR: white; TEXT-DECORATION: none
}
.maintab_active_back A:link {
	COLOR: white; TEXT-DECORATION: none
}
.maintab_active_back A:visited {
	COLOR: white; TEXT-DECORATION: none
}
.maintab_back A:hover {
	COLOR: #e0e0ff; TEXT-DECORATION: none
}
.maintab_active_back A:hover {
	COLOR: #e0e0ff; TEXT-DECORATION: none
}
.mirrortab_first {
	VERTICAL-ALIGN: top; TEXT-TRANSFORM: uppercase; COLOR: white
}
.mirrortab_back {
	VERTICAL-ALIGN: top; TEXT-TRANSFORM: uppercase; COLOR: white
}
.mirrortab_last {
	VERTICAL-ALIGN: top; TEXT-TRANSFORM: uppercase; COLOR: white
}
.mirrortab_active_first {
	VERTICAL-ALIGN: top; TEXT-TRANSFORM: uppercase; COLOR: white
}
.mirrortab_active_back {
	VERTICAL-ALIGN: top; TEXT-TRANSFORM: uppercase; COLOR: white
}
.mirrortab_active_last {
	VERTICAL-ALIGN: top; TEXT-TRANSFORM: uppercase; COLOR: white
}
.mirrortab_back {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 5px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: bottom; COLOR: white; PADDING-TOP: 6px; FONT-FAMILY: tahoma, sans-serif; TEXT-DECORATION: none
}
.mirrortab_active_back {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 5px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: bottom; COLOR: white; PADDING-TOP: 6px; FONT-FAMILY: tahoma, sans-serif; TEXT-DECORATION: none
}
.mirrortab_first {
	BACKGROUND: url(images/mirrortab_first.gif) no-repeat; WIDTH: 10px
}
.mirrortab_back {
	BACKGROUND: url(images/mirrortab_back.gif) repeat-x
}
.mirrortab_last {
	BACKGROUND: url(images/mirrortab_last.gif) no-repeat; WIDTH: 6px
}
.mirrortab_active_first {
	BACKGROUND: url(images/mirrortab_active_first.gif) no-repeat; WIDTH: 6px
}
.mirrortab_active_back {
	BACKGROUND: url(images/mirrortab_active_back.gif) repeat-x
}
.mirrortab_active_last {
	BACKGROUND: url(images/mirrortab_active_last.gif) no-repeat; WIDTH: 8px
}
.mirrortab_back A:link {
	COLOR: white; TEXT-DECORATION: none
}
.mirrortab_back A:visited {
	COLOR: white; TEXT-DECORATION: none
}
.mirrortab_active_back A:link {
	COLOR: white; TEXT-DECORATION: none
}
.mirrortab_active_back A:visited {
	COLOR: white; TEXT-DECORATION: none
}
.mirrortab_back A:hover {
	COLOR: #e0e0ff; TEXT-DECORATION: none
}
.mirrortab_active_back A:hover {
	COLOR: #e0e0ff; TEXT-DECORATION: none
}
.birthday {
	COLOR: #920ac4
}
.event {
	COLOR: #078907
}
.holiday {
	COLOR: #000080
}
.warn_mute {
	COLOR: red
}
.warn_moderate {
	COLOR: orange
}
.warn_watch {
	COLOR: green
}
#ajax_in_progress {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #32cd32; LEFT: 0px; PADDING-BOTTOM: 3px; WIDTH: 100%; COLOR: white; PADDING-TOP: 3px; POSITION: fixed; TOP: 0px; TEXT-ALIGN: center
}
#ajax_in_progress A {
	FONT-SIZE: smaller; FLOAT: right; COLOR: white; TEXT-DECORATION: underline
}
.bbc_color A {
	
}
.bbc_img {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.bbc_list {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
.bbc_size {
	LINE-HEIGHT: 1.3em
}
.bbc_table {
	
}
.bbc_table TD {
	VERTICAL-ALIGN: top
}
.bbc_u {
	TEXT-DECORATION: underline
}
.button_strip_submit {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 5px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: top; TEXT-TRANSFORM: uppercase; COLOR: white; FONT-FAMILY: tahoma, sans-serif; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
.button_strip_submit:hover {
	COLOR: #e0e0ff
}
.openid_login {
	PADDING-LEFT: 18px; BACKGROUND: url(images/openid.gif) white no-repeat
}
A.moderation_link {
	FONT-WEIGHT: bold; COLOR: red
}
A.moderation_link:visited {
	FONT-WEIGHT: bold; COLOR: red
}
.auto_suggest_div {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; POSITION: absolute
}
.auto_suggest_item {
	BACKGROUND-COLOR: #dddddd
}
.auto_suggest_item_hover {
	CURSOR: pointer; COLOR: #eeeeee; BACKGROUND-COLOR: #888888
}
.moderation_notes {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: auto; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 9.5em
}
.moderation_notes LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 1px solid
}
#credits P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#credits H4 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#credits H3 {
	MARGIN: 0px
}
#credits UL {
	LIST-STYLE-TYPE: none
}
#credits UL LI {
	MARGIN-BOTTOM: 0.5em
}
